[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-mongoengine = "*"
numpy = "*"
sklearn = "*"
flask-cors = "*"
flask-uploads = "*"
tensorflow = "*"
matplotlib = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.9"
